In [2]:
import pandas as pd

## Part1

In [3]:
input = pd.read_csv("./input_a")

In [4]:
input.shift(1)

         189
0        NaN
1      190.0
2      199.0
3      197.0
4      200.0
...      ...
1994  6615.0
1995  6614.0
1996  6619.0
1997  6627.0
1998  6629.0

[1999 rows x 1 columns]

In [5]:
((input.shift(1) - input) < 0).sum() + 1

189    1390
dtype: int64

## Part 2

In [6]:
avg = input.rolling(3).sum()

In [9]:
((avg.shift(1) - avg) < 0).sum() + 1

189    1457
dtype: int64

Or

In [10]:
((input.shift(3) - input) < 0).sum() + 1

189    1457
dtype: int64